<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=1080">
	<meta name="robots" content="noindex">

	<title>{{ .Title }}|一般社団法人スマートヘルスケア協会</title>
	<link rel="canonical" href="{{ .Permalink }}">
	<link rel="stylesheet" href="/css/app.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="{{ .Title }}|一般社団法人スマートヘルスケア協会">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:image" content="/img/og-image.jpg">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI="
	 crossorigin="anonymous"></script>

	 <script type="text/javascript">
		const isLogin = Cookies.get('isLogin');

		if (isLogin === undefined) {
			$(window).on('load', () => {
				$('.auth').hide();
				$('.guest').show();
			});
		}

		if (isLogin !== undefined) {
			$(window).on('load', () => {
				$('.auth').show();
				$('.guest').hide();
			});
		}
	</script>

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-PGJSG85');
	</script>
	<!-- End Google Tag Manager -->
</head>
