<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">

			<!-- Collapsed Hamburger -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- Branding Image -->
				<a class="navbar-brand" href="/">
					<h1 class="logo">
						<img src="/img/logo_icon.png" height="auto" width="20px" />
						<img src="/img/logo_sub_title.png" height="auto" width="80px" />
						<img src="/img/logo_main_title.png" height="auto" width="230px" />
					</h1>
				</a>
		</div>

		<div class="collapse navbar-collapse" id="app-navbar-collapse">
			<!-- Left Side Of Navbar -->
			<ul class="nav navbar-nav">
				&nbsp;
			</ul>

			<!-- Right Side Of Navbar -->
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/about">SHCAについて</a>
				</li>
				<li>
					<a href="/cooperation">賛助会員一覧</a>
				</li>
				<li>
					<a href="/app/map">検体測定室検索</a>
				</li>
				<li>
					<a href="/post">お知らせ</a>
				</li>
				<li>
					<a href="/app/contact">お問い合せ</a>
				</li>
				<li class="guest">
					<a href="/app/login">ログイン</a>
				</li>
				<li class="auth">
					<a href="/app/logout">ログアウト</a>
				</li>
			</ul>
		</div>
	</div>
</nav>