{{ define "main" }}

{{ partial "jumbotron-text" (dict "title" "協会からのお知らせ") }}
<section class="col-xs-10">
  <h2 class="content-header">お知らせ</h2>
  <ul class="information big-list">
      {{ range (.Paginator 10).Pages.ByPublishDate.Reverse }}
            {{ .Render "li"}}
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</section>
<ul class="col-xs-2 categories-list">
  <li class="categories-list-bg">
    <a href="/post" class="categories-list-label all-categories"></a>
  </li>
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
  <li class="categories-list-bg">
    <a href="{{ "categories/" | relLangURL }}{{ $name | urlize }}" class="categories-list-label {{ $name }}"></a>
  </li>
  {{ end }}
</ul>
{{end}}