{{ define "main" }}
{{ partial "jumbotron-text" (dict "title" .Title) }}
<div id="top"></div>
<ul class="content-nav">
    <li><a href="#認証制度の目的">認証制度の目的</a></li>
    <li><a href="#健康応援スポットとは">健康応援スポットとは</a></li>
    <li><a href="#規約">規約</a></li>
    <li><a href="#よくある質問">よくある質問</a></li>
    <li><a href="/workshop">研修会について</a></li>
</ul>
<section class="markdown">
    {{ .Content }}
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jump.js/1.0.2/jump.min.js" integrity="sha512-Q9CUUoQ/LaD+X7jk76kM6swUEc8q0YPGBcH/Lflux+JatH8zIZPkIb0b91NW5ASgy9ENLhTzt2Z/zZ6yyake2w==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
<div id="page_top" onclick="Jump('#top')"></div>
{{ end }}
