{{ define "main" }}
{{ partial "jumbotron-text" (dict "title" .Title) }}
<section class="markdown">
{{ .Description }}
</section>
<ul class="cooperation-data information">
{{ range .Params.cooperation_members }}
    <li class="cooperation">
    <a href="{{ .url }}">
        <ul class="information">
            <li class="cooperation-name">{{ .name }}</li>
            <li class="cooperation-banner"><img src="{{ .banner }}" alt="{{ .name }}" /></li>
        </ul>
    </a>
    </li>
{{ end }}
</ul>
{{ end }}