{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}
<div class="main-message">
{{ .Params.message }}
</div>
{{ partial "blog" . }}
<ul class="col-xs-3 side-banner-list">
  <li class="side-banner general-banner">
    <a href="/spot">健康応援スポット</a>
  </li>
  <li class="side-banner general-banner">
    <a href="/elearning">管理者研修</a>
  </li>
  <li class="side-banner general-banner">
    <a href="/app/map">検体測定地図検索</a>
  </li>
  <li class="side-banner general-banner">
    <a href="/tool">ツール紹介</a>
  </li>
  <li class="side-banner doc-dl-banner">
    <a href="/app/download">資料ダウンロード</a>
  </li>
  <li class="side-banner general-banner guest">
    <a href="/app/register">新規会員登録</a>
  </li>
  <li class="side-banner general-banner">
    <a href="/app/contact">お問い合わせ</a>
  </li>
  <li class="side-banner phone-banner">
      <dl>
          <dt>お電話でのご質問・お問い合わせ</dt>
          <dd>050-3509-7859</dd>
      </dl>
  </li>
  <li class="login-box auth">
      <p>お客様はログイン中です</p>
      <a href="/app/logout"><button>ログアウトする</button></a>
  </li>
</ul>
{{ end }}
